// Shared with web client and login screen
.o_home_menu_background {
    background: url(/web_responsive/static/src/img/home-menu-bg-overlay.svg),
        linear-gradient(to right bottom, #097b9f, #49b1ca);
    background-size: cover;
}

.o_main_navbar{
	background-color: #097b9f !important;
	border-bottom: 1px solid #097b9f !important;
}

.o_main_navbar > ul > li > a:hover {
    background-color: #49b1ca !important;
}

.o_main_navbar > a:hover{
	background-color: #49b1ca !important;
	color: inherit;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label {
    background-color: #097b9f !important;
}